
<div class="container">
  <div class="hero">
    <div class="hero-content">
      <h1>Loulou's bar</h1>
      <p>The cocktails that suits you</p>
      <a href="#example" class= "buttn-primary">Find a cocktail</a>
       <%= link_to "Add a cocktail", new_cocktail_path, class: "buttn-secondary" %>
      </div>
    </div>

  </div>
  <div class="arrow-down">
   <a href="#example"><i class="fas fa-chevron-down"></i></a>
  </div>
</div>
      <div <a id="example" class="cocktails-card"></a>
        <% @cocktails.each do |cocktail| %>
          <div class="card">
              <img id="cocktail-img" src="https://www.destinationcocktails.fr/wp-content/uploads/2019/11/cocktails_fumants-e1541424344388.jpg" alt="">
            <div class="card-description">
              <h4><%= cocktail.name %></h4>
          <%= link_to "See more", cocktail_path(cocktail), class: 'card-link' %>
           </div>
          </div>
        <% end %>
      </div>

