h1{
  color: white;
}

.container{
  background-color: black;
}

.page {
  width: 100%;
  height: auto;
  background-color: black;
}

body{
  background-color: black;
}

.form{
  margin-top: 300px;
  align-items: center;
  color: white;
}
