<div class="navbar">
  <img id="logo" src="https://lh3.googleusercontent.com/proxy/q19cc7RJPUrhUX7o2hzwjss2zi6hGTBfQaJjQwK1HQ62g68E2clRVq8adUZ-iuxkKD2tgD7r78hmxF-dINzH7JyplRpX3NSDUJgW5dxVkJC1OJ1mM5QKW4kf3IBLBoi97Dcm-g9RShDTCYjfR42cPylGK-g" alt="">
  <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary btn-lg" %>
</div>
